$mediaQueries: (
	SMALL: (min-width: 480px),
	MEDIUM: (min-width: 720px),
	LARGE: (min-width: 1024px),
);

$colors: (
	starlightBlue: #08BECD,
	lorna: #67C5CD,
	dollarOnATrack: #17ABB7,
	oceanStorm: #063E54,
	weakest: 358391,
);

$ohBabe: (
	starlightBlue: #08BECD,
	lorna: #67C5CD,
	dollarOnATrack: #17ABB7,
	oceanStorm: #063E54,
	weakest: 358391,
);

$meeting: (
	radio: #4C6974,
	oceanBlue: #93CCDF,
	whispy: #E7E9E9,
	orangeYou: #E98B53,
);
